<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <% if (!isAuth) { %>
    <div class="popup">
      <form action="/register" method="POST" class="login-box">
        <img src="assets/cross-sign.svg" alt="times" class="close" />
        <h1>Create account</h1>
        <p>Already have an account ? <span>Sign In</span></p>
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="password" placeholder="Password" />

        <button type="submit">Sign up</button>
        <a href="/google" class="google">
          <img src="images/google.png" />
        </a>
      </form>
    </div>
    <% } %>

    <div class="weather">
      <img
        src="http://openweathermap.org/img/wn/<%= weather.weather[0].icon %>@2x.png"
        alt="weather"
      />
      <div>
        <p><%= weather.name %></p>
        <p><%= weather.main.temp %>°C</p>
        <p><%= weather.weather[0].main %></p>
      </div>
    </div>

    <div class="vit">
      <img src="assets/vit.png" alt="vit" />
    </div>

    <h1 class="np__name">
      <img src="assets/vice.png" alt="vice" class="vice" />
      The VIT Times
      <img
        src="https://www.freeiconspng.com/uploads/donald-trump-png-7.png"
        alt="trump"
        class="trump"
      />
    </h1>

    <div class="headline__row">
      <% news.articles.slice(0,3).forEach(function(x){ %>
      <div class="headline__col"><%= x.title %></div>
      <% }); %>
    </div>

    <div class="main__news">
      <div class="main__article">
        <h1>Quick Shorts</h1>

        <br />

        <% news.articles.slice(1,4).forEach(function(x){ %>
        <div>
          <h2><%= x.title %></h2>

          <p><%= x.description %></p>
        </div>
        <% }); %>
      </div>
      <div class="main__article">
        <h1>NASA Live: Official Stream of NASA TV</h1>
        <iframe
          src="https://www.youtube.com/embed/21X5lGlDOfg"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <div class="frame__article">
          <p>
            NASA stands for National Aeronautics and Space Administration. NASA
            is a U.S. government agency that is responsible for science and
            technology related to air and space. The Space Age started in 1957
            with the launch of the Soviet satellite Sputnik.
            <br />
            NASA opened for business on Oct. 1, 1958.
            <br />
            The agency was created to oversee U.S. space exploration and
            aeronautics research. The administrator is in charge of NASA. The
            NASA administrator is nominated by the president and confirmed by a
            vote in the Senate.
          </p>
        </div>
      </div>
      <div class="main__article">
        <h1>Memorial</h1>
        <img
          src="https://instagram.fjai3-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/139474115_234224084999426_8944544210769432960_n.jpg?_nc_ht=instagram.fjai3-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=JZVpw4_usrAAX9JAq9E&tp=1&oh=cb52bd293b80fa1381b2bbfa920ad19c&oe=602D18D4"
          alt="np-img"
        />
        <div class="frame__article">
          <p>
            Dr. Manikandan was one of the gems VIT will ever have. his
            simplicity, calmness and understanding shine even from miles away.
            It is disheartening to lose such noble man. We will always miss you.
            Rest easy sir
          </p>
        </div>
      </div>
    </div>

    <div class="big-article">
      <div>
        <h1><%= news.articles[0].title %></h1>
        <br />
        <%= news.articles[0].description %>
        <br />
        <a href="<%= news.articles[0].url %>"
          >Visit this website for more info.</a
        >
      </div>
      <div>
        <img src="<%= news.articles[1].urlToImage %>" alt="np-img" />
        <br />
      </div>
      <div>
        <div>
          <h1><%= news.articles[1].title %></h1>
          <br />
          <%= news.articles[1].description %>
          <br />
          <a href="<%= news.articles[1].url %>"
            >Visit this website for more info.</a
          >
        </div>
      </div>
    </div>

    <footer>
      <div class="footer__row">
        <div class="footer__col"></div>
        <div class="footer__col"></div>
        <div class="footer__col"></div>
        <div class="footer__col"></div>
      </div>

      <p class="copyright">Copyright © 2020 | THE VIT TIMES</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
