<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="popup">
      <form action="" class="login-box">
        <img src="assets/cross-sign.svg" alt="times" class="close" />
        <h1>Create account</h1>
        <p>Already have an account ? <span>Sign In</span></p>
        <input type="text" placeholder="Username" />
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Password" />

        <button type="submit">Sign up</button>
      </form>
    </div>

    <div class="weather">
      <img
        src="http://openweathermap.org/img/wn/<%= weather.weather[0].icon %>@2x.png"
        alt="weather"
      />
      <div>
        <p><%= weather.name %></p>
        <p><%= weather.main.temp %>°C</p>
        <p><%= weather.weather[0].main %></p>
      </div>
    </div>

    <div class="vit">
      <img src="assets/vit.png" alt="vit" />
    </div>

    <h1 class="np__name">
      <img src="assets/vice.png" alt="vice" class="vice" />
      The VIT Times
      <img
        src="https://www.freeiconspng.com/uploads/donald-trump-png-7.png"
        alt="trump"
        class="trump"
      />
    </h1>

    <div class="headline__row">
      <% news.articles.slice(0,3).forEach(function(x){ %>
      <div class="headline__col"><%= x.title %></div>
      <% }); %>
    </div>

    <div class="main__news">
      <div class="main__article">
        <h1>Quick Shorts</h1>

        <br />

        <% news.articles.slice(1,4).forEach(function(x){ %>
        <div>
          <h2><%= x.title %></h2>

          <p><%= x.description %></p>
        </div>
        <% }); %>
      </div>
      <div class="main__article">
        <h1>Lorem ipsum dolor sit amet consectetur .</h1>
        <iframe
          src="https://www.youtube.com/embed/21X5lGlDOfg"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <div class="frame__article">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            rerum eum excepturi nesciunt porro, exercitationem voluptates,
            reprehenderit dignissimos aperiam cupiditate commodi, cum saepe?
            Eius, magnam odit! Placeat, repellendus asperiores natus rerum nemo
            corrupti tempora? Totam laborum atque nisi vitae numquam. Lorem
            ipsum dolor sit amet consectetur adipisicing elit.
            <br />
            <br />
            Perspiciatis tempore labore rem inventore mollitia fugit aliquid
            sequi maiores iure dolor illo recusandae repellat dolorem possimus,
            commodi exercitationem nam, tempora doloribus voluptas nesciunt
            ipsum eveniet, itaque repellendus. Facilis, quam tempore doloremque,
            laboriosam sapiente nisi, facere sunt quo natus eius labore aliquam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            ut, doloremque rerum totam ullam itaque ipsa at illum soluta iure
            explicabo, aut culpa temporibus dicta, sint nam incidunt expedita
            vel nobis quo architecto. Porro omnis alias quis sed deleniti vel!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
            nihil earum amet modi impedit officiis consequuntur ducimus et rem
            repellat, exercitationem recusandae rerum enim sit beatae eligendi
            incidunt iusto quasi harum esse quam. Non illo, blanditiis aliquam
            consequuntur ullam explicabo totam, assumenda et nobis dolorum porro
            praesentium in debitis. In.
          </p>
        </div>
      </div>
      <div class="main__article">
        <h1>Tech News</h1>
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="frame__article">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            rerum eum excepturi nesciunt porro, exercitationem voluptates,
            reprehenderit dignissimos aperiam cupiditate commodi, cum saepe?
            Eius, magnam odit! Placeat, repellendus asperiores natus rerum nemo
            corrupti tempora? Totam laborum atque nisi vitae numquam. Lorem
            ipsum dolor sit amet consectetur adipisicing elit.
            <br />
            <br />
            Perspiciatis tempore labore rem inventore mollitia fugit aliquid
            sequi maiores iure dolor illo recusandae repellat dolorem possimus,
            commodi exercitationem nam, tempora doloribus voluptas nesciunt
            ipsum eveniet, itaque repellendus. Facilis, quam tempore doloremque,
            laboriosam sapiente nisi, facere sunt quo natus eius labore aliquam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            ut, doloremque rerum totam ullam itaque ipsa at illum soluta iure
            explicabo, aut culpa temporibus dicta, sint nam incidunt expedita
            vel nobis quo architecto. Porro omnis alias quis sed deleniti vel!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
            nihil earum amet modi impedit officiis consequuntur ducimus et rem
            repellat, exercitationem recusandae rerum enim sit beatae eligendi
            incidunt iusto quasi harum esse quam. Non illo, blanditiis aliquam
            consequuntur ullam explicabo totam, assumenda et nobis dolorum porro
            praesentium in debitis. In.
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="np__row">
      <div class="np__col">
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="np__col__content">
          <h4>
            News title : Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dicta, odio.
          </h4>
        </div>
      </div>
      <div class="np__col">
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="np__col__content">
          <h4>
            News title : Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dicta, odio.
          </h4>
        </div>
      </div>

      <div class="np__col">
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="np__col__content">
          <h4>
            News title : Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dicta, odio.
          </h4>
        </div>
      </div>
    </div> -->

    <div class="big-article">
      <div>
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
          consectetur!
        </h1>
        <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        eius repellendus facere fugiat culpa minima non dignissimos animi
        accusantium quod libero, at, ex quis alias mollitia facilis
        exercitationem ullam sequi! Iste neque natus doloribus similique, facere
        iure dolore provident perferendis sit dolorem? Vel ad nulla, alias
        voluptate incidunt ducimus modi rem est at soluta minima, dolorem
        consequuntur aut consectetur provident eos iusto obcaecati iure aperiam
        dolorum, ab suscipit. In repellat beatae facere illo, deleniti
        laudantium magnam velit commodi dolor doloribus. Explicabo at, ratione
        dignissimos rerum culpa cum similique itaque soluta, perferendis aperiam
        nemo veritatis rem harum, reiciendis quia mollitia earum?
        <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        eius repellendus facere fugiat culpa minima non dignissimos animi
        accusantium quod libero, at, ex quis alias mollitia facilis
        exercitationem ullam sequi! Iste neque natus doloribus similique, facere
        iure dolore provident perferendis sit dolorem? Vel ad nulla, alias
        voluptate incidunt ducimus modi rem est at soluta minima, dolorem
        consequuntur aut consectetur provident eos iusto obcaecati iure aperiam
        dolorum, ab suscipit. In repellat beatae facere illo, deleniti
        laudantium magnam velit commodi dolor doloribus. Explicabo at, ratione
      </div>
      <div>
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
        ducimus, sit sunt expedita consectetur mollitia minus officiis eaque.
        Itaque, exercitationem odit modi dolores delectus aspernatur obcaecati
        vel est laudantium iusto perspiciatis veritatis natus, culpa nemo
        impedit voluptate iure molestias, maiores quod quam fugit aut et
        consectetur. Similique neque velit numquam? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Excepturi ducimus, sit sunt expedita
        consectetur mollitia minus officiis eaque. Itaque, exercitationem odit
        modi dolores delectus aspernatur obcaecati vel est laudantium iusto
        perspiciatis veritatis natus, culpa nemo impedit voluptate iure
        molestias, maiores quod quam fugit aut et consectetur. Similique neque
        velit numquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Excepturi ducimus, sit sunt expedita consectetur mollitia minus officiis
        eaque. Itaque, exercitationem odit modi dolores delectus aspernatur
        obcaecati vel est laudantium iusto perspiciatis veritatis natus, culpa
        nemo impedit voluptate iure molestias, maiores quod quam fugit aut et
        consectetur. Similique neque velit numquam?
      </div>
      <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        eius repellendus facere fugiat culpa minima non dignissimos animi
        accusantium quod libero, at, ex quis alias mollitia facilis
        exercitationem ullam sequi! Iste neque natus doloribus similique, facere
        iure dolore provident perferendis sit dolorem? Vel ad nulla, alias
        voluptate incidunt ducimus modi rem est at soluta minima, dolorem
        consequuntur aut consectetur provident eos iusto obcaecati iure aperiam
        dolorum, ab suscipit. In repellat beatae facere illo, deleniti
        laudantium magnam velit commodi dolor doloribus. Explicabo at, ratione
        dignissimos rerum culpa cum similique itaque soluta, perferendis aperiam
        nemo veritatis rem harum, reiciendis quia mollitia earum?
        <br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        eius repellendus facere fugiat culpa minima non dignissimos animi
        accusantium quod libero, at, ex quis alias mollitia facilis
        exercitationem ullam sequi! Iste neque natus doloribus similique, facere
        iure dolore provident perferendis sit dolorem? Vel ad nulla, alias
        voluptate incidunt ducimus modi rem est at soluta minima, dolorem
        consequuntur aut consectetur provident eos iusto obcaecati iure aperiam
        dolorum, ab suscipit. In repellat beatae facere illo, deleniti
        laudantium magnam velit commodi dolor doloribus. Explicabo at, ratione
        exercitationem ullam sequi! Iste neque natus doloribus similique, facere
        iure dolore provident perferendis sit dolorem? Vel ad nulla, alias
        voluptate incidunt ducimus modi rem est at soluta minima, dolorem
        consequuntur aut consectetur provident eos iusto obcaecati iure aperiam
        dolorum, ab suscipit. In repellat beatae facere illo, deleniti
        laudantium magnam velit commodi dolor doloribus. Explicabo at, ratione
        exercitationem ullam sequi! Iste neque natus doloribus similique, facere
      </div>
    </div>

    <footer>
      <div class="footer__row">
        <div class="footer__col"></div>
        <div class="footer__col"></div>
        <div class="footer__col"></div>
        <div class="footer__col"></div>
      </div>

      <p class="copyright">Copyright © 2020 | THE VIT TIMES</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
